form{
    background-color: rgb(253, 249, 210);
    padding: 50px 20px;
    .row{
        padding: 0px 50px;
        margin-bottom: 10px;
    }
    .custom{
        display: flex;
        flex-direction: column;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            margin-right: 30px;
        }
    }
}